{{!-- enabling materlize icons --}}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h3>Welcome {{name}}!</h3>
{{#if handicapIndex includeZero=true}}<h4>Your current index is {{handicapIndex}}</h4>
{{else}} <h4>You don't have enough scores calculate index.</h4>
{{/if}}
<h6>Here are your most recent scores posted:</h6>

{{#if scores}}
    <table class="striped">
        <thead>
            <tr>
                {{!-- Table Header --}}
                <th>Scores</th>
                <th>Date</th>
                <th>CR/SLP</th>
                <th>DIFF</th>
                <th> </th>
                <th>Course</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {{#each scores}}
            <tr>
                {{!-- Table Data --}}
                <td>
                    {{score}}
                </td>
                <td>
                    {{!-- we are applying formatDate to createdAt --}}
                    {{formatDate date 'MMMM Do YYYY'}}
                </td>
                <td>
                   <span>{{course_rating}}/{{slope}}</span>
                </td>
                <td>
                    <span>{{differential}}</span>
                    {{!-- Differential calcultion --}}
                    {{!-- <span>{{differential slope course_rating score}}</span> --}}
                </td>
                 <td>
                    {{!-- ** A Score Differential is calculated using the following formula: (113 / Slope Rating) x (Adjusted Gross Score - Course Rating) --}}
                   <span>{{diff}}</span>
                </td>
                <td>
                   <span>{{courseName}}</span>
                </td>
                <td>
                    <a href="/scores/edit/{{_id}}" class="small btn  lime lighten-2">
                     <i class="material-icons">edit</i></a>  

                    <form action="/scores/{{_id}}" method="POST" onSubmit="return confirm('Are you sure you wish to delete?');" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="deleteButton btn  deep-orange lighten-3">
                            <i class="tiny material-icons">delete</i>
                            
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not posted any scores.</p>
{{/if}}