<h1>Stories</h1>
<div class="row">
    {{#each stories}}
        <div class="card">
            <div class="card-image">
                {{!below is comparing a current user in the #each loop, to the user who is logged in outside of the loop. We use triple curly braces render HTML tags properly }}
                {{{editIcon user ../user _id}}}
                {{!--potential change to edition --}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 150)}}</p>
            <br>
                <div class="chip"><img src="{{user.image}}" alt=""><a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class ="btn grey">Read More</a>
            </div>
        </div>
    {{else}}
        <p>No stories to display</p>
    {{/each}}
</div>